<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="100">
    <mat-toolbar>
      <div fxLayout="row" fxFill="true" fxLayoutAlign="start stretch">
        <div fxFlex="85" fxFlex.md="70" fxFlex.sm="70" fxFlex.xs="50" >&nbsp;</div>
        <div fxFlex="15"  fxFlex.md="30" fxFlex.sm="30" fxFlex.xs="50">
          <div fxFlex="50">
            <a routerLink="/" mat-raised-button color="primary">
              <span>Home</span>
            </a>
          </div>
          <div fxFlex="50">
            <a routerLink="/units" mat-raised-button color="primary">
              <span>Units</span>
            </a>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>
